/*
* @Author: Administrator
* @Date:   2018-08-22 10:45:45
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-22 10:56:13
*/
#app {
	font-family: "微软雅黑";
	font-size: 20px;
	color: red
}